* {
  box-sizing: border-box;  
}
html {
  /* rem용 font */
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

/* body {
  body 에 폰트를 주려면 
  em단위를 사용해야됨 
  em단위는 부모의 사이즈를 상속받는 것,,,
  폰트사이즈의 디폴트 값은 16px
} */

h2 {
  font-size: 3rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #333;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}


header {
  /* 헤더 정도는 고정높이 줘도 괜찮다 ,,섹션은 자식 크기에 맞게 하기*/
  /* TODO 헤더 높이에 따른 로고 높이 변경 물어보기???? */
  height: 100px;
  background-color: #dedede;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 40px;
}
header h1 a img {
  width: 180px;
}

.main-menu {
  display: flex;
  
    
}
.main-menu > li {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-menu > li + li {
  margin-left: 24px;
} 
.main-menu > li > a {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
}

.sub-menu {
  position: absolute;
  border: 1px solid #000;
  top: 62px;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.sub-menu > li {
  padding: 8px 12px ;
}
.sub-menu > li > a {
  padding: 0 20px;
  background-color: yellow;
  font-size: 1.2rem;
}

/* 탑메뉴 */
.top-menu {
  display: flex;
  font-size: 1.2rem;
  font-weight: 200;
}
.top-menu .search {

}
.top-menu .login, .top-menu .join {
  font-size: 1rem;
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}


.main-visual__bgi {
  /* background-color: #ffdddd; */
  background-image: url(../images/main_visual_img2.png);
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.main-visual__bgi .circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: rgba(33,33,33, 0.5);
  /* box-sizing: border-box;   */
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
/* TODO circle 안에 있는 글자를 밖으로 빠져나오게 처리하고 싶어 
  처리함 -> 자식한테 flex-shrink: 0을 주면 됨
*/
.circle__text  {

  width:800px;
  line-height: 1.5;
  text-align: center;
  flex-shrink: 0;
  
}
.circle__text h2 {
  
}

.side-bar {
  width: 80px;
  height: 400px;
  background-color: darkcyan;
  position: fixed;
  right:0;
  bottom: 100px;
}