* {
  box-sizing: border-box;  
}
html {
  /* rem용 font */
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  /* :root {} 와 html이랑 같음 */
}

/* body {
  body 에 폰트를 주려면 
  em단위를 사용해야됨 
  em단위는 부모의 사이즈를 상속받는 것,,,
  폰트사이즈의 디폴트 값은 16px
} */

h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}


header {
  /* 헤더 정도는 고정높이 줘도 괜찮다 ,,섹션은 자식 크기에 맞게 하기*/
  /* TODO 헤더 높이에 따른 로고 높이 변경 물어보기???? */
  height: 100px;
  /* background-color: #dedede; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  /* 테블릿 */
  /* position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 10; */
}
header h1 a img {
  width: 180px;
}

.main-menu {
  display: flex;
  
    
}
.main-menu > li {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}
.main-menu > li + li {
  margin-left: 24px;
} 
.main-menu > li > a {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
}

.sub-menu {
  position: absolute;
  border: 1px solid #000;
  top: 62px;
  text-align: center;
  white-space: nowrap;
  /* 호버처리 */
  display: none;
}
.sub-menu > li {
  padding: 8px 12px ;
}
.sub-menu > li > a {
  padding: 0 20px;
  background-color: yellow;
  font-size: 1.6rem;
  font-weight: 300;
}

/* 탑메뉴 */
.top-menu {
  display: flex;
  font-size: 1.8rem;
  font-weight: 100;
}
.top-menu .search {

}
.top-menu .login, .top-menu .join {
  display: block;
  background-color: #fff;
  width: 80px;
  font-size: 1.6rem;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  padding: 6px 6px;
}
.top-menu > li {
  margin-left : 10px;
}


.main-visual__bgi {
  /* background-color: #ffdddd; */
  background-image: url(../images/main_visual_img2.png);
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-visual__bgi .circle {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  /* border: 1px solid #000;  */
  background-color: rgba(253, 232, 231, 0.71);  
  /* box-sizing: border-box;   */
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  
}
.circle::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  background-color:rgba(255,255,255,0.3);
  position: absolute;
  border-radius: 50%;
  z-index:-1;
  
}
/* TODO circle 안에 있는 글자를 밖으로 빠져나오게 처리하고 싶어 
  처리함 -> 자식한테 flex-shrink: 0을 주면 됨
*/
.circle__text  {

  width: 800px;
  line-height: 8rem;
  text-align: center;
  flex-shrink: 0;
  
}
.circle__text strong {
  font-size: 2rem;
} 
.circle__text h2 {
  font-size: 4rem;
  font-weight: 900;
}
.circle__text em {
  
  font-size: 3rem;
  font-weight: 400;
}

/* 사이드 메뉴바 */
.side-bar {
  width: 74px;
  /* height: 512px; */
  
  position: fixed;
  right:0;
  bottom: 100px;
  z-index: 10;
}
.side-bar .events {
  height: 100px;
  background-color: #dcdcdc;
  text-align: center;
  line-height: 100px;
  
}
.events a {
  font-size: 1.6rem;
  font-weight: 200;
}
.side-bar .latest-items {
  height: 180px;
  background-color: #c8c8c8;
}
.latest-items > h2 {
  font-size: 1.4rem;
  text-align: center;
  padding: 12px 0;
}
.latest-items p {
  padding: 8px 0;
  font-size: 1.6rem;
  text-align: center;
  color: pink;
  font-weight: 500;
}
.item__btn {
  display: flex;
  
}

.item__btn .btn__prev, .item__btn .btn__next {
  /* border: none; */
  background: #fff;
  cursor: pointer;
  
}
/* TODO 22.12.23 수직정렬 여쭤보기 */
.side-bar .qna {
  height: 100px;
  background-color: #e9e9e9;
}
.side-bar .qna .material-symbols-outlined {
  font-size: 40px;
}
.side-bar .scroll-btn {
  height: 60px;
  background-color: pink;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
/* .side-bar .scroll-btn .material-symbols-outlined {
  font-size: 40px;
  
} */

/* Dahlia's pick */
.dahlia-pick__bg-wrap {
  --image-width: 375px;
  max-width: 1920px;
  /* background-color: pink; */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.bg-wrap__img1 {
/* img요소의 가로길이 */
  position: absolute;
  top: 0px;
  right: calc(var(--image-width)/-2);  
}
.bg-wrap__img2 {  
/* img요소의 가로길이 */
  position: absolute;
  bottom: 20px;
  left: calc(var(--image-width)/-2);  
}
.dahlia-pick h2 {
  padding-top: 140px;
  text-align: center;
}
.dahlia-pick__titles {
  display: flex;
  margin: 100px 0;
  justify-content: center;
  font-size: 1.8rem;
  /* column-gap: 12px; */
}
.dahlia-pick__titles h3 {
  padding: 10px 30px;
  cursor: pointer;
  
}
/* 모바일용 제목 */
.dahlia-pick__mobile-h3 {
  width: 25%;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
  background-color: #f8dcd9;
  margin: 1.4rem auto;
  display: none;
}
.dahlia-pick__titles > h3.active {
  background-color: #f8dcd9;
}
.dahlia-pick__contents {
  padding-bottom: 140px;
}
.dahlia-pick__contents > ul > li {
  position: relative;
}
/* TODO before요소도 반응형으로 만들고 싶을 땐? 그냥이미지로bg를 집어넣어야 되려나.. */
.dahlia-pick__contents > ul > li > a::before {
  font-size: 1.6rem;
  text-align: center;
  color: #f5a299;
  display: block;
  width: 25%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.dahlia-pick__contents > ul.contents__best-product li a::before {
  content: "BEST";
}
.dahlia-pick__contents > ul.contents__new-product li a::before {
  content: "NEW";
}

/* [x] background-img로 교체 예정 img사이즈가 미세하게 다른것은 어떻게 해결?- 해결: 부모에게 너비높이 주고 img를 width height 100% , display: block */
.dahlia-pick__contents > ul {
  display: none;
}
.dahlia-pick__contents > ul.active {
  display: flex;
}
.dahlia-pick__contents ul li {
  width: 25%;
  height: 27vw;
}
.dahlia-pick__contents > ul > li > a {
  /* display:block;
  background-color: yellow;
  width: 100%;
  height: 100%; */
}
.dahlia-pick__contents > ul li a img {
  display: block;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  /* 높이가 다른건 컨텐츠를 잘 맞춰야 함! => img크기를 잘 맞춰서 하던지,,아니면 사이즈 고정해놓고 미디어 쿼리로 조정을 하던지 하자 */
  /* img도 cover을 쓸 수 있다. object-fit: cover; */
  /* transition: scale(1) auto easease-in .3s; */
  
}


/* 유튜브 영역 */
.new-eddition {
  background-color: #fcecea;
}
.new-eddition h2 {
  padding-top: 120px;
  text-align: center;
}
.new-eddition__youtube {
  /* border: 1px solid red; */
  display: flex;
  padding-top: 100px;
}
.youtube__frame {
  overflow: hidden;
  /* border: 1px solid #000; */
  background-color: #fff;
  padding: 40px;
  margin: 0 auto;
}
#player {
  width:860px;
  height:484px;
}
/* 새 시즌 프로모션 상품 영역 */
.new-eddition {

}
.sale-img {
  width: 160px;
}
.new-eddition__promotion {
  border: 1px solid #000;
}
.promotion__product {
  display: flex;
  justify-content: center;
  column-gap: 80px;  
  z-index: 5;
  position: relative;
  left:0;
  top:140px;
  border: 1px solid red;
}
.promotion__product li a {
  position: relative;
  display: block;
}
.promotion__product li a::before {
  content:"";
  display: block;
  width: 120px;
  height: 70px;
  background-image: url(../images/new-promotion-sale-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -36px;
  top: -1px;
}
.promotion__product li a img {
  display:block;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.new__text-wrap {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  bottom: -22px;
  left:0 ;
  z-index: 2;
}
/* .new__text-wrap {
  font-size: 1.8rem;
  color: #a46868;
  white-space: nowrap;
} */
.marquee__wrapper {
  color: #a46868;
  display: flex;
  font-weight: 500;
  font-size: 2.8rem;
  white-space: nowrap;
  overflow: hidden;
  
}
.marquee__content {
  animation: textloop 14s linear infinite ;
}
@keyframes textloop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.btn-promotion-more  {
  width: 100%;
  background-color: #fff;
  padding-top: 300px;
  position: relative;
  z-index: 1;
}
.btn-promotion-more a {
  border: 1px solid #a46868;
  width:188px;
  height:55px;
  text-align: center;  
  display: block;
  font-size: 3rem;
  font-weight: 100;
  color: #a46868;
  padding: 10px;
  margin: 0 auto;
  
}
.btn-promotion-more a:hover {
  background-color: #a46868;
  color: #fff;
}

/* 메이크업 가이드 */
.makeup-guide {
  width: 100%;
  background-image: url(../images/Frame1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.makeup-guide__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 180px 0 100px;
}
.makeup-guide__text-wrap {
  border: 1px solid orange;
  /* background: #cecece; */
}
.makeup-guide__text-wrap em {
  font-size: 1.6rem;
  font-weight: 300;
  /* background: skyblue; */
  /* line-height: 5rem; */
}
.makeup-guide__text-wrap h2 {
  line-height: 8rem;
}
.makeup-guide__text-wrap p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.8rem;
}
.makeup-guide__img-wrap {
  border: 1px solid #000;
}
.btn-makeup-guide-more {
  margin-top: 28px;
}
.btn-makeup-guide-more a {
  display: block;
  width: 120px;
  height: 30px;
  font-size: 1.8rem;
  color: #333;
  border: 1px solid #333;
  text-align: center;
  line-height: 2.6rem;
  font-weight: 100;
  padding: 2px 0;
}
.btn-makeup-guide-more a:hover {
  color: #fff;
  background-color: #333;
}
.makeup-guide__img-wrap {
  position: relative;
  
}
.makeup-guide__img-bg {
  width: 712px;
  height: 603px;
  background-image: url(../images/makeup-guide-rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.makeup-guide__img1 {
  position: absolute;
  left: -52px;
  bottom: 140px;
}
.makeup-guide__img2 {
  position: absolute;
  right: 32px;
  top: -40px;
}

/* event-banner */
.event-banner .swiper {
  width: 692px;
  height: 211px;
}

/* footer */
/* 제목은 제일 두껍게 내용은 제일 얇게 a테그는 중간두께  */
/* TODO 사이드바가 푸터영역에 침범하지 않도록 up버튼이 생기면서 위로 올라가게 해야됨 */
footer {
  background: #2c2c2c;
  padding: 52px 0;
  color: #fff;
  font-weight: 100;
  font-size: 1.2rem;
}
footer a {
  font-size: 1.2rem;
  font-weight: 400;
  /* color:#d19c9c; */
  color:#daaeae;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-wrapper em {
  font-weight: 400;
}
.footer-wrapper ul li {
  padding: 4px 0 ;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 20px;
}
.footer__cs .cs__em {
  padding-bottom: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.company-info__em > a + a {
  margin-left: 10px;
}

/* totop */
#to-top {
  position: fixed;
  right:10px;
  bottom: 330px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  cursor: pointer;
}
/* @media (min-width:360px) and (max-width: 1600px) {
  #player {
    width: 600px
  }
} */

@media screen and (min-width:1024px) {
  /* Desktop */
  
  
}
@media screen and (min-width:768px) and (max-width: 1023px) {
  /* Tablet */
  :root {
    font-size: 8px;
  }
}
@media screen and (max-width:767px){ 
  /* Mobile */
  :root {
    font-size: 6px;
  }
} 

