* {
  box-sizing: border-box;  
}
html {
  /* rem용 font */
  font-size: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  /* :root {} 와 html이랑 같음 */
}

/* body {
  body 에 폰트를 주려면 
  em단위를 사용해야됨 
  em단위는 부모의 사이즈를 상속받는 것,,,
  폰트사이즈의 디폴트 값은 16px
} */

h2 {
  font-size: 3rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: #333;
}
.inner {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}


header {
  /* 헤더 정도는 고정높이 줘도 괜찮다 ,,섹션은 자식 크기에 맞게 하기*/
  /* TODO 헤더 높이에 따른 로고 높이 변경 물어보기???? */
  height: 100px;
  background-color: #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header h1 a img {
  width: 180px;
}

.main-menu {
  display: flex;
  
    
}
.main-menu > li {
  position: relative;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}
.main-menu > li + li {
  margin-left: 24px;
} 
.main-menu > li > a {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.01rem;
}

.sub-menu {
  position: absolute;
  border: 1px solid #000;
  top: 62px;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.sub-menu > li {
  padding: 8px 12px ;
}
.sub-menu > li > a {
  padding: 0 20px;
  background-color: yellow;
  font-size: 1.6rem;
  font-weight: 300;
}

/* 탑메뉴 */
.top-menu {
  display: flex;
  font-size: 1.8rem;
  font-weight: 200;
}
.top-menu .search {

}
.top-menu .login, .top-menu .join {
  display: block;
  background-color: #fff;
  width: 80px;
  font-size: 1.6rem;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  padding: 6px 6px;
}
.top-menu > li {
  margin-left : 10px;
}


.main-visual__bgi {
  /* background-color: #ffdddd; */
  background-image: url(../images/main_visual_img2.png);
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items:center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-visual__bgi .circle {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  /* border: 1px solid #000;  */
  background-color: rgba(253, 232, 231, 0.71);  
  /* box-sizing: border-box;   */
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  
}
.circle::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  background-color:rgba(255,255,255,0.3);
  position: absolute;
  border-radius: 50%;
  z-index:-1;
  
}
/* TODO circle 안에 있는 글자를 밖으로 빠져나오게 처리하고 싶어 
  처리함 -> 자식한테 flex-shrink: 0을 주면 됨
*/
.circle__text  {

  width: 800px;
  line-height: 8rem;
  text-align: center;
  flex-shrink: 0;
  
}
.circle__text strong {
  font-size: 2rem;
} 
.circle__text h2 {
  font-size: 4rem;
  font-weight: 900;
}
.circle__text em {
  
  font-size: 3rem;
  font-weight: 400;
}

/* 사이드 메뉴바 */
.side-bar {
  width: 74px;
  /* height: 512px; */
  background-color: darkcyan;
  position: fixed;
  right:0;
  bottom: 100px;
  z-index: 10;
}
.side-bar .events {
  height: 100px;
  background-color: #dcdcdc;
  text-align: center;
  line-height: 100px;
  
}
.events a {
  font-size: 1.6rem;
  font-weight: 200;
}
.side-bar .latest-items {
  height: 180px;
  background-color: #c8c8c8;
}
.latest-items > h2 {
  font-size: 1.4rem;
  text-align: center;
  padding: 12px 0;
}
.latest-items p {
  padding: 8px 0;
  font-size: 1.6rem;
  text-align: center;
  color: pink;
  font-weight: 500;
}
.item__btn {
  display: flex;
  
}

.item__btn .btn__prev, .item__btn .btn__next {
  /* border: none; */
  background: #fff;
  cursor: pointer;
  
}
/* TODO 22.12.23 수직정렬 여쭤보기 */
.side-bar .qna {
  height: 100px;
  background-color: #e9e9e9;
}
.side-bar .qna .material-symbols-outlined {
  font-size: 40px;
}
.side-bar .scroll-btn {
  height: 60px;
  background-color: pink;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}
/* .side-bar .scroll-btn .material-symbols-outlined {
  font-size: 40px;
  
} */

/* Dahlia's pick */
.dahlia-pick__bg-wrap {
  --image-width: 375px;
  max-width: 1920px;
  /* background-color: pink; */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.bg-wrap__img1 {
/* img요소의 가로길이 */
  position: absolute;
  top: 0px;
  right: calc(var(--image-width)/-2);  
}
.bg-wrap__img2 {  
/* img요소의 가로길이 */
  position: absolute;
  bottom: 20px;
  left: calc(var(--image-width)/-2);  
}
.dahlia-pick h2 {
  padding-top: 140px;
  text-align: center;
}
.dahlia-pick__titles {
  display: flex;
  margin: 100px 0;
  justify-content: center;
  font-size: 1.8rem;
  /* column-gap: 12px; */
}
.dahlia-pick__titles h3 {
  padding: 10px 30px;
  cursor: pointer;
  
}
/* 모바일용 제목 */
.dahlia-pick__mobile-h3 {
  width: 25%;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
  background-color: #f8dcd9;
  margin: 1.4rem auto;
  display: none;
}
.dahlia-pick__titles > h3.active {
  background-color: #f8dcd9;
}
.dahlia-pick__contents {
  padding-bottom: 140px;
}
.dahlia-pick__contents > ul > li {
  position: relative;
}
/* TODO before요소도 반응형으로 만들고 싶을 땐? 그냥이미지로bg를 집어넣어야 되려나.. */
.dahlia-pick__contents > ul > li > a::before {
  font-size: 1.6rem;
  text-align: center;
  color: #f5a299;
  display: block;
  width: 25%;
  height: 23%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.dahlia-pick__contents > ul.contents__best-product li a::before {
  content: "BEST";
}
.dahlia-pick__contents > ul.contents__new-product li a::before {
  content: "NEW";
}
/* TODO background-img로 교체 예정 img사이즈가 미세하게 다른것은 어떻게 해결?- 해결: 부모에게 너비높이 주고 img를 width height 100% , display: block */
.dahlia-pick__contents > ul {
  display: none;
}
.dahlia-pick__contents > ul.active {
  display: flex;
}
.dahlia-pick__contents ul li {
  width: 25%;
  /* height: 30vw; */
}
.dahlia-pick__contents > ul > li > a {
  display:block;
  background-color: yellow;
  width: 100%;
  height: 100%;
}
.dahlia-pick__contents > ul li a img {
  display: block;
  width: 100%;
  height: 100%; 
  /* 높이가 다른건 컨텐츠를 잘 맞춰야 함! => img크기를 잘 맞춰서 하던지,,아니면 사이즈 고정해놓고 미디어 쿼리로 조정을 하던지 하자 */
  /* img도 cover을 쓸 수 있다. object-fit: cover; */
}

/* 유튜브영역 */
.new-eddition {
  background-color: #fcecea;
}
.new-eddition h2 {
  padding-top: 120px;
  text-align: center;
  
}